In [1]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [2]:
path = "C:\\Users\TheSh\Documents\Programming_in_Python_Class\PyCharmProjects\ML_for_KRAS_G12D_Inhibitors\Raw Files\merged_features_IC50_g12c.csv"
df = pd.read_csv(path)
df.head()

,ChEMBL ID,Smiles,FC,N,H,Cl,Br,I,P,F,...,fr_sulfonamd,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea,IC50 (nM)
0,1396159,CN1CCC[C@H]1COc1nc(N2CCN([C@@H](CC#N)C2)C(=O)C...,0,308,34,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0.490
1,1396154,Fc1c(ncc2c(nc(OCC3(CN4CCCC4)CC3)nc12)N1CCN([C@...,0,336,35,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0.590
2,1396157,F[C@H]1CN2CCC[C@@]2(COc2nc(N3CCN([C@@H](CC#N)C...,0,330,34,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0.590
3,1396156,F[C@H]1CN2CCC[C@@]2(COc2nc(N3CCN([C@@H](CC#N)C...,0,322,35,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0.710
4,1396158,CN1CCC[C@H]1COc1nc(N2CCN([C@@H](CC#N)C2)C(=O)C...,0,300,35,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0.710

In [5]:
X = df.drop(columns=['IC50 (nM)','Smiles', 'ChEMBL ID'])
X.head()

,FC,N,H,Cl,Br,I,P,F,Se,Si,...,fr_sulfide,fr_sulfonamd,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea
0,0,308,34,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,336,35,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,330,34,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,322,35,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,300,35,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
selector = VarianceThreshold()
var_thres = selector.fit_transform(X)

In [8]:
pd.DataFrame(var_thres).to_csv("X_g12c")